header {
    background-color: #424E61;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: white;
}

.capivara2-jpg-imagem{
    width: 25%;
}

#capivara{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.capivara-div-conteudo{
    width: 35%;
}


.capivara-titulo{
    padding: 24px 0;
}

#capybara{
    padding: 24px 0;
}



.capivara-imagem{
    width: 100%;
}

.capivara-icone{
    width: 24px;
    padding: 4px 8px;
}

.capivara-div{
    text-align: center;
    padding: 16px 0;
}

.capivara-titulo{
    text-align: center;
    padding: 50px 0;
}



.doe {
text-align: center;
align-items: center;
}